* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Poppins', Arial, sans-serif;
}

header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid silver;
    width: 100%;
    height: 70px;
}

nav ul li {
    list-style: none;
    display: block;
}

nav ul li {
    display: inline-block;
    
}