* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Poppins', Arial, sans-serif;
}

header {
 background-color: #fff;
 width: 100%;
 height: 70px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 80px 0 40px;
 border-bottom: 1px solid silver;
 margin-bottom: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 75px;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav li a:hover {
    text-decoration: underline;
}

.icon {
    display: flex;
    align-items: center;
    gap: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 30px 200px 30px 50px;
    border-top: 1px solid silver;
}

.furniro_container {
    padding: 0 10px;
}

.furniro_container h1 {
    font-size: 20px;
}

.furniro_container p {
    color: grey;
    font-size: 14px;
}

.links_container p {
    color: grey;
}

.links_container ul {
    list-style: none;
}

.links_container ul li a{
    text-decoration: none;
    color: black;
    column-gap: 15px;
}

.links_container ul li a:hover {
    text-decoration: underline;
}

.help_container p {
    color: grey;
}

.help_container ul {
    list-style: none;
}

.help_container ul li a{
    text-decoration: none;
    color: black;
}

.help_container ul li a:hover {
    text-decoration: underline;
}

.newsletter_container .newsletter {
    color: grey;
}

.newsletter_container .input-box label{
    margin-left: 10px;
    text-decoration: underline;
}